


<div class="row" *ngIf=" (formMode == 'NEW' || formMode == 'EDIT') ">
  <div class="col-12">

    <div class="button-group">
      <button type="button" class="btn btn-primary">New</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="submit(form)">Save</button>
      <button type="button" class="btn btn-secondary" (click)="formMode = 'SEARCH'">Search</button>
      <button type="button" class="btn btn-info" (click)="form.resetForm()">Reset</button>
      <!-- <button type="button" class="btn btn-warning">Warning</button> -->
      <!-- <button type="button" class="btn btn-danger">Danger</button> -->
    </div>


    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Form validation with hero</h4> -->
        <!-- <h6 class="card-subtitle">This is the simple form validation page -->
          <!-- <a href="https://angular.io/guide/form-validation" target="_blank">Official site</a> -->
        <!-- </h6> -->

        <form #form="ngForm" (submit)="submit(form)">
          <div class="row">
            <!-- S no-->
            <div class="form-group col-md-6">
              <label for="s_no">S No *</label>
              <input id="s_no" name="s_no" class="form-control" required [(ngModel)]="formData.s_no" #s_no="ngModel">
              <div *ngIf="s_no.invalid && (s_no.dirty || s_no.touched)" class="alert alert-danger">
                <div *ngIf="s_no.errors.required"> S no is required. </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="roll_no">Tumbrow/Roll No.*</label>
              <input id="roll_no" name="roll_no" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.roll_no" #roll_no="ngModel">
              <div *ngIf="roll_no.invalid && (roll_no.dirty || roll_no.touched)" class="alert alert-danger">
                <div *ngIf="roll_no.errors.required"> Tumbrow/Roll No.* is required. </div>
                <div *ngIf="roll_no.errors.minlength"> Tumbrow/Roll No.* must be at least 4 characters long. </div>
                <div *ngIf="roll_no.errors.forbiddenName"> Tumbrow/Roll No.* cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="gsm">GSM</label>
              <input id="gsm" name="gsm" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.gsm" #gsm="ngModel">
              <div *ngIf="gsm.invalid && (gsm.dirty || gsm.touched)" class="alert alert-danger">
                <div *ngIf="gsm.errors.required"> GSM is required. </div>
                <div *ngIf="gsm.errors.minlength"> GSM must be at least 4 characters long. </div>
                <div *ngIf="gsm.errors.forbiddenName"> GSM cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="bf">BF</label>
              <input id="bf" name="bf" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.bf" #bf="ngModel">
              <div *ngIf="bf.invalid && (bf.dirty || bf.touched)" class="alert alert-danger">
                <div *ngIf="bf.errors.required"> BF is required. </div>
                <div *ngIf="bf.errors.minlength"> BF must be at least 4 characters long. </div>
                <div *ngIf="bf.errors.forbiddenName"> BF cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="no_reels">No of reels</label>
              <input id="no_reels" name="no_reels" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.no_reels" #no_reels="ngModel">
              <div *ngIf="no_reels.invalid && (no_reels.dirty || no_reels.touched)" class="alert alert-danger">
                <div *ngIf="no_reels.errors.required"> No of reels is required. </div>
                <div *ngIf="no_reels.errors.minlength"> No of reels must be at least 4 characters long. </div>
                <div *ngIf="no_reels.errors.forbiddenName"> No of reels cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="size">Size</label>
              <input id="size" name="size" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.size" #size="ngModel">
              <div *ngIf="size.invalid && (size.dirty || size.touched)" class="alert alert-danger">
                <div *ngIf="size.errors.required"> Size is required. </div>
                <div *ngIf="size.errors.minlength"> Size must be at least 4 characters long. </div>
                <div *ngIf="size.errors.forbiddenName"> Size cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="pm">PM</label>
              <input id="pm" name="pm" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.pm" #pm="ngModel">
              <div *ngIf="pm.invalid && (pm.dirty || pm.touched)" class="alert alert-danger">
                <div *ngIf="pm.errors.required"> PM is required. </div>
                <div *ngIf="pm.errors.minlength"> PM must be at least 4 characters long. </div>
                <div *ngIf="pm.errors.forbiddenName"> PM cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="weight">Weight</label>
              <input id="weight" name="weight" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.weight" #weight="ngModel">
              <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
                <div *ngIf="weight.errors.required"> Weight is required. </div>
                <div *ngIf="weight.errors.minlength"> Weight must be at least 4 characters long. </div>
                <div *ngIf="weight.errors.forbiddenName"> Weight cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="date">Date</label>
              <input id="date" name="date" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.date" #date="ngModel">
              <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
                <div *ngIf="date.errors.required"> Date is required. </div>
                <div *ngIf="date.errors.minlength"> Date must be at least 4 characters long. </div>
                <div *ngIf="date.errors.forbiddenName"> Date cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="operator">Operator</label>
              <input id="operator" name="operator" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.operator" #operator="ngModel">
              <div *ngIf="operator.invalid && (operator.dirty || operator.touched)" class="alert alert-danger">
                <div *ngIf="operator.errors.required"> Operator is required. </div>
                <div *ngIf="operator.errors.minlength"> Operator must be at least 4 characters long. </div>
                <div *ngIf="operator.errors.forbiddenName"> Operator cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label for="shift">Shift</label>
              <input id="shift" name="shift" class="form-control" required minlength="4" forbiddenName="bob" [(ngModel)]="formData.shift" #shift="ngModel">
              <div *ngIf="shift.invalid && (shift.dirty || shift.touched)" class="alert alert-danger">
                <div *ngIf="shift.errors.required"> Shift is required. </div>
                <div *ngIf="shift.errors.minlength"> Shift must be at least 4 characters long. </div>
                <div *ngIf="shift.errors.forbiddenName"> Shift cannot be Bob. </div>
              </div>
            </div>

          </div>
          <div class="submitted-message" *ngIf="form.submitted">
            <p>You've submitted your form, {{ form.value }}!</p>
            <!-- <button class="btn btn-inverse" (click)="form.resetForm({name:'satish'})">Add new hero</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Search mode -->

<!-- 
<div class="row" *ngIf="formMode == 'SEARCH'">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ formTitle }}</h4>
        <h6 class="card-subtitle"> {{ formSubtitle }}</h6>
        <div class="table table-responsive smart-table">
          <ng2-smart-table 
            [settings]="settings2" 
            [source]="source2" 
            class="" 
            (edit)="onEdit($event)" 
            (create)="onNew($event)" 
            (delete)="onDelete($event)"

            (editConfirm)="onEditConfirm($event)"
            (createConfirm)="onCreateConfirm($event)"
          ></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div> -->