

<div class="button-group" *ngIf="displayActions">
  <button type="button" class="btn btn-primary" id="new" (click)="onNew($event, form)">New</button>
  <button type="button" class="btn btn-success" id="save" (click)="submit(form)" [disabled]="form?.invalid"> {{ form?.value.id ? 'Update': 'Save' }}</button>
  <button type="button" class="btn btn-info" id="reset" (click)="form?.resetForm()">Reset</button>
  <button type="button" class="btn btn-secondary" id="search" (click)="onSearch()">Search</button>
  <button type="button" class="btn btn-secondary" id="fake-data" (click)="onFake(form)">Fake</button>
  <button type="button" class="btn btn-primary" id="address-update" (click)="manageAddress(form.value.id)" *ngIf="formMode == 'EDIT'" > Manage Address </button>
  <!-- <button type="button" class="btn btn-warning">Warning</button> -->
  <!-- <button type="button" class="btn btn-danger">Danger</button> -->
</div>

<div class="row" >
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Form validation with hero</h4> -->
        <!-- <h6 class="card-subtitle">This is the simple form validation page -->
          <!-- <a href="https://angular.io/guide/form-validation" target="_blank">Official site</a> -->
        <!-- </h6> -->

        <form #form="ngForm" (submit)="submit(form)" [hidden]=" !(formMode == 'NEW' || formMode == 'EDIT') " >
          <div>

            <!-- S no-->

            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id">

            <div class="form-group">
              <label for="client_name">Client Name *</label>
              <input id="client_name" name="client_name" class="form-control" required ngModel #client_name="ngModel">
              <div *ngIf="client_name.invalid && (client_name.dirty || client_name.touched)" class="alert alert-danger">
                <div *ngIf="client_name.errors.required"> Client Name is required. </div>
              </div>
            </div>

            <div class="form-group">
              <label for="head_office_address"> Head Office Address *</label>
              <input id="head_office_address" name="head_office_address" class="form-control" required minlength="4" forbiddenName="bob" ngModel #head_office_address="ngModel">
              <div *ngIf="head_office_address.invalid && (head_office_address.dirty || head_office_address.touched)" class="alert alert-danger">
                <div *ngIf="head_office_address.errors.required"> Head Office Address is required. </div>
                <div *ngIf="head_office_address.errors.minlength"> Head Office Address must be at least 4 characters long. </div>
                <div *ngIf="head_office_address.errors.forbiddenName"> Head Office Address cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="pan">PAN *</label>
              <input id="pan" name="pan" class="form-control" required minlength="4" forbiddenName="bob" ngModel #pan="ngModel">
              <div *ngIf="pan.invalid && (pan.dirty || pan.touched)" class="alert alert-danger">
                <div *ngIf="pan.errors.required"> PAN is required. </div>
                <div *ngIf="pan.errors.minlength"> PAN must be at least 4 characters long. </div>
                <div *ngIf="pan.errors.forbiddenName"> PAN cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="gst">GST *</label>
              <input id="gst" name="gst" class="form-control" required minlength="4" forbiddenName="bob" ngModel #gst="ngModel">
              <div *ngIf="gst.invalid && (gst.dirty || gst.touched)" class="alert alert-danger">
                <div *ngIf="gst.errors.required"> GST is required. </div>
                <div *ngIf="gst.errors.minlength"> GST must be at least 4 characters long. </div>
                <div *ngIf="gst.errors.forbiddenName"> GST cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="billto_client_id">Bill To</label>
              <input id="billto_client_id" name="billto_client_id" [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="inputFormatter" class="form-control" ngModel #billto_client_id="ngModel">
              <div *ngIf="billto_client_id.invalid && (billto_client_id.dirty || billto_client_id.touched)" class="alert alert-danger">
                <div *ngIf="billto_client_id.errors.required"> Bill To is required. </div>
                <div *ngIf="billto_client_id.errors.minlength"> Bill To must be at least 4 characters long. </div>
                <div *ngIf="billto_client_id.errors.forbiddenName"> Bill To cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group">
              <!-- <label for="active">Active</label>
              <input id="active" name="active" class="form-control"  [(ngModel)]="formData.active" #active="ngModel"> -->
              

              <div class="custom-control custom-checkbox mr-sm-2 m-b-15">
                <input type="checkbox" name="active" class="custom-control-input" id="active" value='Y' #active="ngModel" ngModel>
                <label class="custom-control-label" for="active">Active</label>
              </div>

              <div *ngIf="active.invalid && (active.dirty || active.touched)" class="alert alert-danger">
                <div *ngIf="active.errors.required"> Active is required. </div>
                <div *ngIf="active.errors.minlength"> Active must be at least 4 characters long. </div>
                <div *ngIf="active.errors.forbiddenName"> Active cannot be Bob. </div>
              </div>

            </div>
            
            <div class="form-group">
              <label for="credit_limit">Credit Limit</label>
              <input id="credit_limit" name="credit_limit" class="form-control" ngModel #credit_limit="ngModel">
              <div *ngIf="credit_limit.invalid && (credit_limit.dirty || credit_limit.touched)" class="alert alert-danger">
                <div *ngIf="credit_limit.errors.required"> Credit Limit is required. </div>
                <div *ngIf="credit_limit.errors.minlength"> Credit Limit must be at least 4 characters long. </div>
                <div *ngIf="credit_limit.errors.forbiddenName"> Credit Limit cannot be Bob. </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="balance">Balance</label>
              <input id="balance" name="balance" readonly class="form-control" ngModel #balance="ngModel">
              <div *ngIf="balance.invalid && (balance.dirty || balance.touched)" class="alert alert-danger">
                <div *ngIf="balance.errors.required"> Balance is required. </div>
                <div *ngIf="balance.errors.minlength"> Balance must be at least 4 characters long. </div>
                <div *ngIf="balance.errors.forbiddenName"> Balance cannot be Bob. </div>
              </div>
            </div>
          </div>

          
        </form>

        <!-- =============================== Address Form =================================== -->

        <div class="card address-form sub-form" id="address-form" [hidden]=" !(formMode == 'NEW' || formMode == 'EDIT') ">
          <h5 class="card-header">Address</h5>
          <form #AddressForm="ngForm" >
            <div class="card-body">
              <input type="hidden" name="id" #id="ngModel" ngModel>
          
              <div class="form-group">
                <label for="address_line_one">Address Line 1 *</label>
                <input id="address_line_one" name="address_line_one" class="form-control" required ngModel
                  #address_line_one="ngModel">
                <div *ngIf="address_line_one.invalid && (address_line_one.dirty || address_line_one.touched)" class="alert alert-danger">
                  <div *ngIf="address_line_one.errors.required"> Address Line 1 </div>
                </div>
              </div>
              <div class="form-group">
                <label for="address_line_two">Address Line 2 *</label>
                <input id="address_line_two" name="address_line_two" class="form-control" required ngModel
                  #address_line_two="ngModel">
                <div *ngIf="address_line_two.invalid && (address_line_two.dirty || address_line_two.touched)" class="alert alert-danger">
                  <div *ngIf="address_line_two.errors.required"> Address Line 2 is required. </div>
                </div>
              </div>
          
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city_id"> City *</label>
                    <select id="city_id" name="city_id" class="custom-select" required ngModel #city_id="ngModel">
                      <option [value]="drop.code" *ngFor="let drop of lov?.citys"> {{ drop.meaning }}</option>
                    </select>
                    <div *ngIf="city_id.invalid && (city_id.dirty || city_id.touched)" class="alert alert-danger">
                      <div *ngIf="city_id.errors.required"> City is required. </div>
                    </div>
                  </div>
                </div>
          
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="state_id"> State *</label>
                    <select id="state_id" name="state_id" class="custom-select" required ngModel #state_id="ngModel">
                      <option [value]="drop.code" *ngFor="let drop of lov?.states"> {{ drop.meaning }}</option>
                    </select>
                    <div *ngIf="state_id.invalid && (state_id.dirty || state_id.touched)" class="alert alert-danger">
                      <div *ngIf="state_id.errors.required"> State is required. </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="form-group">
                <label for="pincode">Pincode *</label>
                <input id="pincode" name="pincode" class="form-control" required minlength="4" forbiddenName="bob" ngModel
                  #pincode="ngModel">
                <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="alert alert-danger">
                  <div *ngIf="pincode.errors.required"> Pincode is required. </div>
                  <div *ngIf="pincode.errors.minlength"> Pincode must be at least 4 characters long. </div>
                  <div *ngIf="pincode.errors.forbiddenName"> Pincode cannot be Bob. </div>
                </div>
              </div>
          
          
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="type"> Type *</label>
                    <select id="type" name="type" class="custom-select" required ngModel #type="ngModel">
                      <option [value]="drop.code" *ngFor="let drop of lov?.address_type"> {{ drop.meaning }}</option>
                    </select>
                    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
                      <div *ngIf="type.errors.required"> Type is required. </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox mr-sm-2 m-b-15">
                      <input type="checkbox" name="active" class="custom-control-input" id="active" value='Y' #active="ngModel" ngModel>
                      <label class="custom-control-label" for="active">Active</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- =================================== Pricing Plan =================================== -->
        <div class="card price-planning sub-form" id="price-planning" [hidden]=" !(formMode == 'NEW' || formMode == 'EDIT') " >
          <h5 class="card-header">Price planning</h5>
          <form #PricingPlan="ngForm">
            <div class="card-body">
          
              <!-- S no-->
          
              <input type="hidden" name="id" #id="ngModel" ngModel>
          
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="item_name">Item Name *</label>
                    <input id="item_name" name="item_name" class="form-control" required ngModel #item_name="ngModel">
                    <div *ngIf="item_name.invalid && (item_name.dirty || item_name.touched)" class="alert alert-danger">
                      <div *ngIf="item_name.errors.required"> Item name is required </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="gsm">GSM *</label>
                    <input id="gsm" name="gsm" class="form-control" required ngModel #gsm="ngModel">
                    <div *ngIf="gsm.invalid && (gsm.dirty || gsm.touched)" class="alert alert-danger">
                      <div *ngIf="gsm.errors.required"> GSM is required. </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="default_price">Default Price *</label>
                    <input id="default_price" name="default_price" class="form-control" required ngModel #default_price="ngModel">
                    <div *ngIf="default_price.invalid && (default_price.dirty || default_price.touched)" class="alert alert-danger">
                      <div *ngIf="default_price.errors.required"> Default Price </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="actual_price">Actual Price *</label>
                    <input id="actual_price" name="actual_price" class="form-control" required ngModel #actual_price="ngModel">
                    <div *ngIf="actual_price.invalid && (actual_price.dirty || actual_price.touched)" class="alert alert-danger">
                      <div *ngIf="actual_price.errors.required"> actual_price is required. </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
          
                    <label for="from_date">From Date *</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" id="from_date" ngModel name="from_date" #from_date="ngModel" ngbDatepicker
                        #fromDate="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary no-shadow" (click)="fromDate.toggle()" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                    <!-- <input id="from_date" name="from_date" class="form-control" required [(ngModel)]="formData.from_date" #from_date="ngModel"> -->
                    <div *ngIf="from_date.invalid && (from_date.dirty || from_date.touched)" class="alert alert-danger">
                      <div *ngIf="from_date.errors.required"> Default Price </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
          
                    <label for="to_date">To Date *</label>
          
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="to_date" ngModel #to_date="ngModel" ngbDatepicker #toDate="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary no-shadow" (click)="toDate.toggle()" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                    <!-- <input id="to_date" name="to_date" class="form-control" required [(ngModel)]="formData.to_date" #to_date="ngModel"> -->
                    <div *ngIf="to_date.invalid && (to_date.dirty || to_date.touched)" class="alert alert-danger">
                      <div *ngIf="to_date.errors.required"> to_date is required. </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="form-group">
                <label for="unit"> Unit *</label>
                <select id="unit" name="unit" class="custom-select" required ngModel #unit="ngModel">
                  <option [value]="drop.code" *ngFor="let drop of lov?.units"> {{ drop.meaning }}</option>
                </select>
                <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert alert-danger">
                  <div *ngIf="unit.errors.required"> Unit is required. </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- =================================== End, Pricing Plan =================================== -->

        <!-- =============================== End, Address Form =================================== -->


        <div class="search" *ngIf=" (formMode == 'SEARCH') ">

           <!-- Search -->
          <div class="card" *ngIf="rows.length > 0">
            <div class="card-body">
              <h4 class="card-title">Editing Option</h4>
              <h5 class="card-subtitle">This is the editing Data table option you can double click on text</h5>
          
              <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
                [rows]="rows">

                <ngx-datatable-column name="Edit">
                  <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                    <button class="btn btn-success" (click)="onEdit($event, rowIndex, form)"> Edit </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Price Plan" prop="id">
                  <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                    <button class="btn btn-success" (click)="managePrice(value)"> Price </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Manage Address" prop="id">
                  <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
                    <button class="btn btn-success" (click)="manageAddress(value)"> Address </button>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Client Name" prop="client_name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-client_name'] = true" *ngIf="!editing[rowIndex + '-client_name']">
                      {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'client_name', rowIndex)" *ngIf="editing[rowIndex+ '-client_name']" type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Head Office Address" prop="head_office_address">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-head_office_address'] = true" *ngIf="!editing[rowIndex + '-head_office_address']">
                      {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'head_office_address', rowIndex)" *ngIf="editing[rowIndex+ '-head_office_address']" type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="GST" prop="gst">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-gst'] = true" *ngIf="!editing[rowIndex + '-gst']">
                      {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'gst', rowIndex)" *ngIf="editing[rowIndex+ '-gst']" type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Credit Limit" prop="credit_limit">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-credit_limit'] = true" *ngIf="!editing[rowIndex + '-credit_limit']">
                      {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'credit_limit', rowIndex)" *ngIf="editing[rowIndex+ '-credit_limit']" type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Balance" prop="balance">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-balance'] = true" *ngIf="!editing[rowIndex + '-balance']">
                      {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'balance', rowIndex)" *ngIf="editing[rowIndex+ '-balance']" type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Active">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-active'] = true" *ngIf="!editing[rowIndex + '-active']">
                      {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'active', rowIndex)" *ngIf="editing[rowIndex+ '-active']" type="text" [value]="value"/>
                    <!-- <select *ngIf="editing[rowIndex + '-gender']" (change)="updateValue($event, 'gender', rowIndex)" [value]="value">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select> -->
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Pan">
                  <ng-template ngx-datatable-cell-template let-value="value">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                
                
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Search mode -->
